{% extends 'base.html' %}

{% block title %}
    Aldoj Properties | About
{% endblock title %}

{% block content %}
<div
class="hero page-inner overlay"
style="background-image: url('https://res.cloudinary.com/noiro/image/upload/v1676404741/Aldoj%20Homes/hero_bg_3_ojbz4z.jpg')"
>
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-9 text-center mt-5">
      <h1 class="heading" data-aos="fade-up">About</h1>

      <nav
        aria-label="breadcrumb"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <ol class="breadcrumb text-center justify-content-center">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li
            class="breadcrumb-item active text-white-50"
            aria-current="page"
          >
            About
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
</div>

<div class="section">
<div class="container">
  <div class="row text-left mb-5">
    <div class="col-12">
      <h2 class="font-weight-bold heading text-primary mb-4">About Us</h2>
    </div>
    <div class="col-lg-6">
      <p class="text-black-50">
        At ALDOJ HOMES AND PROPERTIES, we understand that buying a home is one of the biggest investments you will make in your lifetime. That's why we are dedicated to providing our clients with a seamless and stress-free experience when it comes to finding their dream home.
      </p>
      <p class="text-black-50">
        As a subsidiary of ALDOJ AMAZING CONSULT, we have a wealth of expertise and experience in helping our clients achieve their goals in human capacity development, financial management and agricultural investments. With our introduction of THE TEAM HOUSING PROJECT, we aim to make your housing dreams a reality.
      </p>
      <p class="text-black-50">
        Built on the principle of teamwork, the TEAM HOUSING PROJECT is a collaborative effort between four individuals, each with the goal of building a beautiful 3-bedroom bungalow in three years. At the end of the project, each subscriber will be the proud owner of their own new home.
      </p>
    </div>
    <div class="col-lg-6">
      <p class="text-black-50">
        With each bungalow priced at forty million naira (40,000,000), we understand that buying a home can be an overwhelming financial commitment. That's why we have structured the TEAM HOUSING PROJECT in a way that allows subscribers to make manageable monthly payments of N1,200,000 for the duration of three years. In the event that a subscriber is unable to complete the project within three years, the project will attract a 10% increase (annually) of the total sum to the defaulted subscriber.
      </p>
      <p class="text-black-50">
        Located in a serene and tranquil estate, each bungalow sits on a 300 square meter flat land, surrounded by greenery and a sense of class. Each home boasts a spacious living room, a cozy porch, a driveway that can accommodate up to three cars, and a green area for outdoor activities. With a Certificate of Occupancy (C of O) for the land, you can rest assured that you are making a solid investment in your future.
      </p>
      <div class="text-black-50">
        <p>
          <strong>Project Features</strong>
        </p>
        <ul>
          <li>3 Bedroom Bungalow</li>
          <li>300 Square Meter Land</li>
          <li>Spacious Living Room</li>
          <li>Cozy Porch</li>
          <li>Driveway</li>
          <li>Green Area</li>
          <li>C of O</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>

<!-- <div class="section pt-0">
<div class="container">
  <div class="row justify-content-between mb-5">
    <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
      <div class="img-about dots">
        <img src="static/images/hero_bg_3.jpg" alt="Image" class="img-fluid" />
      </div>
    </div>
    <div class="col-lg-4">
      <div class="d-flex feature-h">
        <span class="wrap-icon me-3">
          <span class="icon-home2"></span>
        </span>
        <div class="feature-text">
          <h3 class="heading">Quality properties</h3>
          <p class="text-black-50">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nostrum iste.
          </p>
        </div>
      </div>

       <div class="d-flex feature-h">
        <span class="wrap-icon me-3">
          <span class="icon-person"></span>
        </span>
        <div class="feature-text">
          <h3 class="heading">Top rated agents</h3>
          <p class="text-black-50">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nostrum iste.
          </p>
        </div>
      </div> 

      <div class="d-flex feature-h">
        <span class="wrap-icon me-3">
          <span class="icon-security"></span>
        </span>
        <div class="feature-text">
          <h3 class="heading">Easy and safe</h3>
          <p class="text-black-50">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nostrum iste.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div> -->

<!-- <div class="section pt-0">
<div class="container">
  <div class="row justify-content-between mb-5">
    <div class="col-lg-7 mb-5 mb-lg-0">
      <div class="img-about dots">
        <img src="static/images/hero_bg_2.jpg" alt="Image" class="img-fluid" />
      </div>
    </div>
    <div class="col-lg-4">
      <div class="d-flex feature-h">
        <span class="wrap-icon me-3">
          <span class="icon-home2"></span>
        </span>
        <div class="feature-text">
          <h3 class="heading">Quality properties</h3>
          <p class="text-black-50">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nostrum iste.
          </p>
        </div>
      </div>

      <div class="d-flex feature-h">
        <span class="wrap-icon me-3">
          <span class="icon-person"></span>
        </span>
        <div class="feature-text">
          <h3 class="heading">Top rated agents</h3>
          <p class="text-black-50">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nostrum iste.
          </p>
        </div>
      </div> 

      <div class="d-flex feature-h">
        <span class="wrap-icon me-3">
          <span class="icon-security"></span>
        </span>
        <div class="feature-text">
          <h3 class="heading">Easy and safe</h3>
          <p class="text-black-50">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nostrum iste.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div> -->
<div class="section">
<div class="container">
  <div class="row">
    <div class="col-md-4" data-aos="fade-up" data-aos-delay="0">
      <img src="https://res.cloudinary.com/noiro/image/upload/v1676404396/Aldoj%20Homes/1_awmbkf.jpg" alt="Image" class="img-fluid" height="500px" width="500px" />
    </div>
    <div class="col-md-4 mt-lg-5" data-aos="fade-up" data-aos-delay="0">
      <img src="https://res.cloudinary.com/noiro/image/upload/v1676404395/Aldoj%20Homes/3_ktpf5h.jpg" alt="Image" class="img-fluid" height="500px" width="500px" />
    </div>
    <div class="col-md-4" data-aos="fade-up" data-aos-delay="0">
      <img src="https://res.cloudinary.com/noiro/image/upload/v1676404396/Aldoj%20Homes/2_jsimkf.jpg" alt="Image" class="img-fluid" height="500px" width="500px" />
    </div>
  </div>
  <!-- <div class="row section-counter mt-5">
    <div
      class="col-6 col-sm-6 col-md-6 col-lg-3"
      data-aos="fade-up"
      data-aos-delay="300"
    >
      <div class="counter-wrap mb-5 mb-lg-0">
        <span class="number"
          ><span class="countup text-primary">2917</span></span
        >
        <span class="caption text-black-50"># of Buy Properties</span>
      </div>
    </div>
    <div
      class="col-6 col-sm-6 col-md-6 col-lg-3"
      data-aos="fade-up"
      data-aos-delay="400"
    >
      <div class="counter-wrap mb-5 mb-lg-0">
        <span class="number"
          ><span class="countup text-primary">3918</span></span
        >
        <span class="caption text-black-50"># of Sell Properties</span>
      </div>
    </div>
    <div
      class="col-6 col-sm-6 col-md-6 col-lg-3"
      data-aos="fade-up"
      data-aos-delay="500"
    >
      <div class="counter-wrap mb-5 mb-lg-0">
        <span class="number"
          ><span class="countup text-primary">38928</span></span
        >
        <span class="caption text-black-50"># of All Properties</span>
      </div>
    </div>
    <div
      class="col-6 col-sm-6 col-md-6 col-lg-3"
      data-aos="fade-up"
      data-aos-delay="600"
    >
      <div class="counter-wrap mb-5 mb-lg-0">
        <span class="number"
          ><span class="countup text-primary">1291</span></span
        >
        <span class="caption text-black-50"># of Agents</span>
      </div>
    </div>
  </div> -->
</div>
</div>

{% endblock content %}